@use './styles/variables' as *;
@use './styles/mixins' as *;
@import 'node_modules/rfs/sass.sass';

.by_services {
  .subheading {
    color: rgba($color-blue-dasl, 0.7);
  }

  .button_group {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 1rem;

    .service_button {
      justify-content: center;
      gap: 10px;

      border: 1px solid $color-blue-dasl;

      color: black;
      background-color: white;
    }
  }
}
