@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.g {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;

  box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  overflow: hidden;

  min-height: 3000px;
}

.skeleton {
  width: 100%;
  height: 100%;
}

/* ==== RESPONSIVE ============== */

@include media($size-desktop) {
  .g {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include media($size-tablet) {
  .g {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media($size-mobile) {
  .g {
    grid-template-columns: repeat(2, 1fr);
  }
}
