@use './styles/variables' as *;

@mixin link {
  &:hover {
    text-decoration: underline;
  }
}

a.link_primary {
  @include link;

  color: $color-blue-defrance;
}

a.link_secondary {
  @include link;

  color: darken($color: $color-blue-defrance, $amount: 20%);
}
