@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.landing_header {
  padding: 1rem 3rem 2rem 3rem;

  @media screen and (width < 992px) {
    padding: 1rem 1rem 1rem 1rem;
  }

  @media screen and (width < 768px) {
    padding: 1rem 2rem 1rem 0.5rem;
  }
}
