@use 'styles/variables' as *;

.body {
  color: $color-blue-dasl;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 1rem;
  padding-top: 0;

  overflow-y: auto;

  grid-template-areas:
    'alert alert'
    'general general'
    'navigation focus'
    'not_auth_user auth_user';

  .alert {
    grid-area: alert;
  }

  .hotkeys_group {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba($color-blue-dasl, 0.2);

    &.focus {
      grid-area: focus;
    }

    &.general {
      grid-area: general;
    }

    &.navigation {
      grid-area: navigation;
    }

    &.user {
      &.auth {
        grid-area: auth_user;
      }
      &.not_auth {
        grid-area: not_auth_user;
      }
    }

    .hotkey_item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0.2rem;

      p.keys {
        display: inline-flex;
        justify-content: flex-end;
        gap: 0.5rem;

        span {
          padding: 0 10px;
          min-width: 2.5rem;
          border-radius: 5px;

          text-align: center;

          border: 1px solid $color-green-dur;
          border-bottom-width: 2px;

          background-color: $color-green-nyanza;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      'alert'
      'general'
      'navigation'
      'focus'
      'not_auth_user'
      'auth_user';
  }
}
