@use './styles/variables' as *;

.order_card {
  border: 1px solid $color-green-medbud;
  border-radius: 0.4rem;
  padding: 1rem;
  height: 20rem;
  display: flex;

  .image {
    height: 100%;
    width: 25%;

    flex: 1 1 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    padding: 1rem 0 1rem 4rem;
    flex: 3 1 0;

    .naming {
      font-size: 3rem;
    }

    .bottom {
      gap: 6rem;
      position: absolute;
      bottom: 1rem;
      right: 10rem;
      display: flex;
      align-items: center;

      .amount {
        background-color: $color-green-medbud;
        border-radius: 3rem;
        font-size: 2rem;
        padding: 1rem;
      }

      .price {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
