@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.figureContainer {
  flex: 0 0 75%;
  max-height: 75%;

  position: relative;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-flow: column nowrap;

  width: 100%;
  aspect-ratio: 4 / 3;

  margin: 0;
  width: 100%;
}

.figure img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80%;

  object-fit: contain;
}

.figure figcaption{
  height: 20%;
  margin-top: auto;

  position: absolute;
  bottom: 0;
  left: 0;
  @include truncate_lines_after(2);
}
