@use './styles/variables' as *;
@use './styles/mixins' as *;

.like_button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  border-radius: 5px;

  position: absolute;
  top: 1.5rem;
  right: 0.5rem;

  color: $color-green-yellow-bright;

  &:hover,
  &:focus {
    @include icon_on_hover;
    animation: pulse 0.25s ease-in-out;
  }

  svg.not_liked,
  svg.liked {
    animation: pulse 0.25s ease-in-out;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
