@use "./styles/variables" as *;
@use "./styles/mixins" as *;

//todo make better hover effect

.card {
  cursor: default;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  height: fit-content;
  width: 100%;

  padding: 0.5rem;

  position: relative;
  top: 0;
  left: 0;

  box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
  color: $color-blue-dasl;
  overflow: hidden;
  transition:
    transform 0.25s,
    box-shadow 0.2s 0.1s;

  .buy_info {
    flex: 1 1 20%;
  }

  .rating {
    flex: 0 1 5%;
  }
}

/* ==== PSEUDO ============== */

/* ==== RESPONSIVE ============== */
