@use './styles/variables' as *;
@use './styles/mixins' as *;

.small_buy_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border: 1px solid $color-green-yellow;
  border-radius: 0.5rem;

  .price {
    font-size: 2rem;
    color: $color-red-suncycl;
    span {
      font-size: 0.6em;
    }
  }

  .buy_button {
    line-height: 100%;
    height: 100%;
    background-color: $color-green-yellow-bright;
    color: white;
    font-size: 1.5rem;
  }
}
