@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.cart_item {
  padding: 1rem 2rem;
  border-bottom: 1px solid $color-wh-lightsilv;

  &:last-child {
    border-bottom: none;
  }

  > div:first-child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;

    position: relative;

    img {
      object-fit: contain;
      max-width: 15%;
      height: 8rem;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;

      font-size: 1.2rem;
      line-height: 1rem;

      box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
      padding: 0.3rem;
      border-radius: 10%;
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;

    .quantity_input {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      flex: 0 1 80%;
    }

    .price {
      flex: 0 1 10%;
      font-size: 2rem;
    }
  }

  @media screen and (width < 992px) {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;

    > div:first-child {
      img {
        max-width: 10rem;
        // flex: 1 0 20%;
      }

      p {
        flex: 1 1 80%;
      }

      button {
        position: static;
      }
    }

    > div:nth-child(2) {
      justify-content: space-between;

      padding-top: 1rem;

      .quantity_input {
        flex: 1 1 85%;
      }

      .price {
        flex: 1 1 10%;
      }
    }
  }
}
