@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.quantity_input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: fit-content;

  input {
    padding: 0.5rem;
    margin: 0 1rem;

    width: 3rem;

    border-radius: 0.5rem;
    border: 1px solid $color-wh-lightsilv;

    text-align: center;

    background-color: transparent !important;
    color: black;
  }

  button {
    font-size: 2rem;
    line-height: 1rem;

    box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
    padding: 0.3rem;
    border-radius: 10%;

    &[disabled] {
      //todo
    }

    &:hover {
      background-color: $color-wh-lightsilv;
      //todo
    }
  }
}
