@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.layout {
  display: flex;
  gap: 20px;

  > * {
    padding-top: 1rem;
  }

  .tabs {
    flex: 1 1 25%;
    height: 100vh;

    border-right: 2px double rgba($color-blue-dasl, 0.1);
  }

  .content {
    flex: 0 1 75%;
  }

  @media screen and (width < 992px) {
    .tabs {
      display: none;
    }

    .content {
      flex: 1 1 100%;
    }
  }
}
