@use './styles/variables' as *;
@use './styles/mixins' as *;
@import 'node_modules/rfs/sass.sass';

.account_nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  .popover_button {
    display: flex;
    border-radius: 100%;

    svg {
      color: $color-blue-dasl;

      cursor: pointer;
    }
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.popover {
  box-shadow: 0 0 4px 3px rgba($color-blue-dasl, 0.2);
  padding: 1rem;
  border-radius: 10px;

  .not_signed_up {
    margin-top: 5px;
  }

  .sign_in_button {
    font-size: 1.5rem;
  }
}
