@use './styles/variables' as *;
@use './styles/mixins' as *;

.body {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 0.5rem;

  font-size: 1.1rem;

  button {
    color: $color-blue-dasl;
    text-decoration: underline;

    &:hover {
      color: $color-blue-defrance;
    }
  }

  button:last-child {
    margin-top: 1rem;
  }
}
