@use './styles/variables' as *;

//refactor
.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
  margin-top: 2rem;

  $icon-size: 1.3rem;
  font-size: $icon-size;
  font-weight: bold;

  svg {
    width: 2rem;
    height: 2rem;
  }

  .controls {
    padding: 0;
    display: flex;

    gap: 0.5rem;
  }

  li.pages {
    display: none;
  }

  ul.pages {
    display: flex;
    gap: 0.5rem;
    padding: 0;

    &:has(:nth-child(8)) {
      max-height: 20rem;
      overflow: hidden;
    }
  }

  .item {
    $item-size: 3rem;
    width: $item-size;
    height: $item-size;

    border-radius: 5px;

    border: 0.5px solid $color-wh-lightsilv;
    box-shadow: 0 0 0 0 $color-green-dur inset;

    line-height: $item-size;
    text-align: center;

    transition:
      color 0.25s,
      box-shadow 0.25s;

    &:has(a:hover, a:focus, a.active) {
      box-shadow: 0 0 0 0.1rem $color-green-dur inset;
      color: saturate($color: $color-blue-dasl, $amount: 70%);
      border-color: transparent;
      a {
        box-shadow: none;
      }
    }

    &:has(a.disabled) {
      background-color: rgba($color-blue-dasl, 0.1);
      opacity: 0.5;
      pointer-events: none;
      box-shadow: 0 0 0 0.05rem $color-wh-lightsilv inset;
      a {
        box-shadow: none;
      }
    }

    &:has(a.disabled:focus) {
      opacity: 1;
      box-shadow: 0 0 0 0.05rem $color-blue-dasl inset;
    }
  }

  @media screen and (max-width: 662px) {
    flex-flow: row nowrap;
    justify-content: center;

    li ul.pages {
      display: none;
    }
    li.pages {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 500px) {
    flex-flow: row wrap;

    li:first-child .controls {
      order: 2;

      margin-right: 1rem;
    }

    li:last-child .controls {
      order: 3;
    }

    li.pages {
      order: 1;

      padding: 1rem;
    }
  }
}
