@use './styles/variables' as *;
@use './styles/mixins' as *;

.offcanvas_toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 0.5rem;

    height: 3rem;
    width: 3rem;

    svg {
      fill: $color-blue-dasl;
    }

    transition: background-color 0.25s;
    &:hover {
      @include icon_on_hover;
    }
  }
}
