@use 'styles/variables' as *;

.terms_of_usage {
  line-height: 1.6;
  padding: 1rem;

  h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  dl {
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}
