$color-green-medbud: #c8e59b; // Medium Spring Bud

$color-green-yellow: #bee97c; //Yellow Green
$color-green-yellow-bright: #8bc72e; //Yellow Green | Brighter tone

$color-green-dur: #5a9a5c; // Russian Green = DUMP GREEN #HATE RUSSIA
$color-green-dur-muted: #628f64;

$color-green-nyanza: #ecffdc; //Nyanza
$color-green-palebud: #e5ffbb; // Pale Spring Bud
$color-green-bangl: #04724d; // Bangladesh Green
$color-green-ocean: #4bbc8e; // Ocean Green
$color-green-deepfir: #143e00; // Deep fir
$color-green-christi: #69a015; //Christi
$color-green-sushi: #8db84e; // Sushi
$color-green-pastel: #75a959; // Pastel Green
$color-green-confire: #9bcf53; // Conifer
$color-green-sulu: #969a8f; // Sulu

$color-wh-alabaster: #edf6e9; // Alabaster
$color-wh-lightsilv: #d5dadd; // Light Silver
$color-wh-anflash: #f3f0f6; // Anti-Flash White
$color-wh-chinease: #b0b0b0; // Chinese White
$color-wh-cococream: #000000; //Coconut cream
$color-wh-milk: #fcfff7; // Milk
$color-wh-ivory: #fdfdf2; // Ivory

$color-yell-banana: #ffe234; //Banana Yellow
$color-yell-brightsun: #ffd43b; //Bright Sun Yellow

$color-red-spink: #ffbfbf; //Spanish Pink
$color-red-decapink: #ff3131; // Deep Carmine Pink
$color-red-suncycl: #f84147; // Sunburnt Cyclops

$color-purp-iris: #5d3fd3; // Iris

$color-blue-dasl: #2f4858; // Dark Slate Gray
$color-blue-indep: #485a73; // Independence
$color-blue-argentinian: #6cb4ee; // Argentinan Blue
$color-blue-defrance: #318ce7; // Blue de france



/* -------------------------------------------------- black -------------------------------------------------- */
$black-chocolate: #181c14;
$black-rich: #040d12;
$black-gunmetal: #2b3137;

/* -------------------------------------------------- gray -------------------------------------------------- */
$gray-dark-charcoal: #333333;

/* -------------------------------------------------- white -------------------------------------------------- */
$white-cultured: #f5f5f5;
$white-bone: #eae4dd;
$white-light-silver: #d5dadd;
$white-silver: #c0c0c0;
$white-platinum: #e4e4e4;
$white-old-silver: #848482;

/* -------------------------------------------------- blue -------------------------------------------------- */
$blue-usafa: #004d99;
$blue-navy: #1e2a5e;
$blue-gray: #295f98;
$blue-dark-gray: #31363f;
$blue-indigo: #1e3a5f;
$blue-dasl: #2f4858;
$blue-independence: #485a73;
$blue-argentinian: #6cb4ee;
$blue-de-france: #318ce7;
$blue-azure: #007fff;

/* -------------------------------------------------- yellow -------------------------------------------------- */
$yellow-banana: #ffe234;
$yellow-bright-sun: #ffd43b;
$yellow-tangerine: #ffcc00;
$yellow-mikado: #ffc107;

/* -------------------------------------------------- orange -------------------------------------------------- */

$orange-dark: #ff8c00;

/* -------------------------------------------------- green -------------------------------------------------- */
$green-charleston: #222831;
$green-ao: #008000;
$green-medium-bud: #c8e59b;
$green-yellow: #bee97c;
$green-dull: #5a9a5c;
$green-nyanza: #ecffdc;
$green-pale-bud: #e5ffbb;
$green-bangladesh: #04724d;
$green-ocean: #4bbc8e;
$green-deep-fir: #143e00;
$green-christi: #69a015;
$green-sushi: #8db84e;
$green-pastel: #75a959;
$green-conifer: #9bcf53;
$green-sulu: #969a8f;
$green-american: #28a745;

/* -------------------------------------------------- red -------------------------------------------------- */
$red-spanish-pink: #ffbfbf;
$red-deep-pink: #ff3131;
$red-sun-cycle: #f84147;
$red-rusty: #dc3545;
$red-cardinal: #c82333;

/* -------------------------------------------------- purple -------------------------------------------------- */
$purple-iris: #5d3fd3;

/* ========================================================================================================= */

$color-primary: $green-medium-bud;
$color-secondary: $color-blue-dasl;

$color-downplay: $white-old-silver;
$color-highlight: $white-old-silver;

$color-confirm: $green-ao;
$color-decline: $red-deep-pink;
$color-destruct: $red-cardinal;

$color-status-success: $green-american;
$color-status-error: $red-rusty;
$color-status-warning: $yellow-mikado;
$color-status-info: $blue-de-france;

$color-text-primary: $black-rich;
$color-text-secondary: $gray-dark-charcoal;

$color-link-primary: $gray-dark-charcoal;
$color-link-secondary: $gray-dark-charcoal;

$color-bg-primary: $white-cultured;


/* ---------- FONT STACKS --------------- */

$balsamiq: "Balsamiq Sans", Arial, sans-serif;
$pacifico: 'Pacifico', cursive;

$raleway: 'Raleway', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;
$roboto-mono: 'Roboto Mono', sans-serif;
$noto-emoji: 'Noto Emoji', sans-serif;
$noto-color-emoji: 'Noto Color Emoji', sans-serif;

$noto-serif: 'Noto Serif', serif;


/* ---------- SEMANTIC FONTS --------------- */
$font-primary: $balsamiq;
$font-secondary: $roboto-slab;
$font-brand: $pacifico;
$font-mono: $roboto-mono;
$font-emoji: $noto-emoji;
$font-color-emoji: $noto-color-emoji;



/* ---------- SIZES --------------- */
$size-desktop--large: 1440px !default;
$size-desktop: 1280px !default;

$size-tablet: 1024px !default;

$size-mobile: 768px !default;
$size-mobile--small: 480px !default;
