$color-green-medbud: #c8e59b; // Medium Spring Bud

$color-green-yellow: #bee97c; //Yellow Green
$color-green-yellow-bright: #8bc72e; //Yellow Green | Brighter tone

$color-green-dur: #5a9a5c; // Russian Green = DUMP GREEN #HATE RUSSIA
$color-green-dur-muted: #628f64;

$color-green-nyanza: #ecffdc; //Nyanza
$color-green-palebud: #e5ffbb; // Pale Spring Bud
$color-green-bangl: #04724d; // Bangladesh Green
$color-green-ocean: #4bbc8e; // Ocean Green
$color-green-deepfir: #143e00; // Deep fir
$color-green-christi: #69a015; //Christi
$color-green-sushi: #8db84e; // Sushi
$color-green-pastel: #75a959; // Pastel Green
$color-green-confire: #9bcf53; // Conifer
$color-green-sulu: #969a8f; // Sulu

$color-wh-alabaster: #edf6e9; // Alabaster
$color-wh-lightsilv: #d5dadd; // Light Silver
$color-wh-anflash: #f3f0f6; // Anti-Flash White
$color-wh-chinease: #b0b0b0; // Chinese White
$color-wh-cococream: #000000; //Coconut cream
$color-wh-milk: #fcfff7; // Milk
$color-wh-ivory: #fdfdf2; // Ivory

$color-yell-banana: #ffe234; //Banana Yellow
$color-yell-brightsun: #ffd43b; //Bright Sun Yellow

$color-red-spink: #ffbfbf; //Spanish Pink
$color-red-decapink: #ff3131; // Deep Carmine Pink
$color-red-suncycl: #f84147; // Sunburnt Cyclops

$color-purp-iris: #5d3fd3; // Iris

$color-blue-dasl: #2f4858; // Dark Slate Gray
$color-blue-indep: #485a73; // Independence
$color-blue-argentinian: #6cb4ee; // Argentinan Blue
$color-blue-defrance: #318ce7; // Blue de france
