@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.header_container {
  position: sticky;
  top: 0;
  z-index: 101;

  background-color: $color-green-medbud;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3%;

  margin: auto;

  max-width: 90%;
  height: 5rem;

  font-size: 2rem;

  position: relative;
}

.logo {
  flex: 0 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;

  border-radius: 5px;

  color: $color-secondary;
  font-size: 3rem;
  font-family: $font-brand;
  white-space: nowrap;

  &:hover {
    color: $color-secondary;
  }
}

.search_bar {
  display: flex;
  justify-content: center;

  height: 60%;
  width: 40%;
  max-width: 2000px;

  & > * {
    padding: 1rem;

    font-size: 0.8em;
  }
}

.search_field {
  width: 100%;

  border: 0;
  border-radius: 1rem 0 0 1rem;

  transition: box-shadow ease-in-out 0.25s;

  color: $color-blue-indep;
}

.search_button {
  border-radius: 0 1rem 1rem 0;

  min-width: fit-content;

  background: $color-confirm;
  color: white;
}

.buttonGroup {
}

.button__cart {
  padding: 10px;
  z-index: 10;

  svg {
    height: 2rem;
    width: auto;
  }
}

.underline {
  height: 6px;
  width: 100%;
  background-color: $color-green-nyanza;
  position: relative;
  z-index: 4;
}

.loader_line {
  height: 0.3rem;
  width: 65%;

  position: absolute;
  left: 0;

  z-index: 4;

  background: linear-gradient(
    to right,
    $color-green-nyanza,
    rgba($color-green-dur, 0.7),
    $color-green-nyanza
  );

  animation: loading-line 2.5s infinite;

  @keyframes loading-line {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
}

/* ==== PSEUDO ============== */

.button__cart:hover {
  background: rgba($color-secondary, 0.1);
  border-color: $color-secondary;
  color: $color-secondary;
}

.search_button:hover {
  border-color: $color-confirm !important;
  color: $color-secondary;
}

.search_field {
  &::placeholder {
    color: rgba($color-blue-indep, 80%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0.2rem 0.1rem rgba($color-blue-dasl, 0.4) inset;
    color: black;
  }

  &[disabled] {
    box-shadow: 0 0 0.2rem 0.1rem rgba($color-blue-dasl, 0.4) inset;
    background-color: white;
    font-weight: normal;
  }
}

/* ==== RESPONSIVE ============== */

@include media($size-desktop) {
  .header {
    max-width: 98%;
  }

  .search_bar {
    position: static; // Add absolute positioning
    left: none; // Position at center
    transform: none;
  }

  .buttonGroup {
    margin-left: none;
  }
}

@include media($size-tablet) {
  .header {
    margin: none;
  }

  .logo {
    span {
      display: none;
    }
  }

  .search_button {
  }

  .search_buttonText {
    display: none;
  }

  .search_bar {
    width: 40%;
    flex-grow: 5;
  }
}

@include media($size-mobile) {

  .logo {
    span {
      display: none;
    }
  }

  .search_bar {
    max-width: none;
  }

  .buttonGroup {
  }

  .button__cart {
    justify-self: center;
  }
}

@include media($size-mobile--small) {
  .search_field {
    &::placeholder {
      font-size: 1.2rem;
    }
  }
}

