@use './styles/variables' as *;
@use './styles/mixins' as *;

.header {
  padding: 1rem;

  .sub_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rating {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
