@use './styles/variables' as *;
@use './styles/mixins' as *;

.buy_area {
  display: grid;
  grid-template-columns: 10rem max-content 5rem 3rem;
  grid-template-rows: min-content 1fr;

  grid-template-areas: 'price buy_btn like_btn comment_btn';

  @media screen and (width < 992px) {
    grid-template-columns: 1fr 0fr 5rem 3rem;
    grid-template-areas:
      'price price like_btn comment_btn'
      'buy_btn buy_btn buy_btn buy_btn';

    .buy_btn {
      margin-top: 1rem;
    }
  }

  margin: 0 1rem;
  padding: 1rem;

  border-radius: 0.5rem;

  box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;

  font-size: 3rem;

  .price {
    grid-area: price;

    display: flex;
    justify-content: center;
    flex-direction: column;

    line-height: 1;

    font-size: 2rem;
    font-weight: bold;
    color: $color-red-suncycl;

    .currency {
      font-weight: 100;
      font-size: 0.5em;
    }

    .is_left {
      color: $color-blue-dasl;
      font-size: 0.5em;
    }
  }

  .buy_btn {
    grid-area: buy_btn;

    border: 1px solid transparent;

    font-size: 1.5rem;

    color: black;
    background-color: $color-green-yellow;
  }

  .like_btn,
  .comment_btn {
    padding: 0.5rem 0;

    svg {
      padding: 0.5rem;
      border-radius: 5px;

      width: 44px;
      height: 44px;
    }
  }

  .like_btn {
    grid-area: like_btn;
    color: $color-yell-brightsun;
  }

  .comment_btn {
    grid-area: comment_btn;
    color: $color-blue-argentinian;
  }
}
