@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.form_check {
  cursor: pointer;
  input {
    cursor: inherit;

    &:checked {
      border: 0;
      background-color: $color-green-dur;
    }
  }
}
