@use './styles/variables' as *;
@use './styles/mixins' as *;

.password_input_container {
  display: flex;

  .eye_button {
    padding: 0.5rem 1rem;

    svg {
      fill: $color-blue-dasl;
      padding: 0.1rem;
      border-radius: 50%;
    }

    &:hover {
      //todo styles eye for hover
    }
  }
}
