@use './styles/mixins' as *;
@use './styles/variables' as *;

@import 'node_modules/rfs/sass.sass';

.main_content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.gallery {
  .header {
    h1 {
      width: 20%;
      margin-left: 5%;
      font-size: 2.5rem;
      color: $color-blue-dasl;
    }
  }

  background: radial-gradient(
      5% 50% at 0% 50%,
      #c8e59b -50%,
      rgba(252, 255, 247, 0) 100%
    ),
    radial-gradient(
      5% 50% at 100% 50%,
      #c8e59b -50%,
      rgba(252, 255, 247, 0) 100%
    );

  .decor_line {
    @include decor_line($color-green-nyanza);
    margin-top: 3rem;
  }
}

.categories_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  margin-top: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: 576px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card_wrapper {
  grid-column: span 12;
  display: flex;
  justify-content: center;

  @media (min-width: 992px) {
    grid-column: span 1;
  }
}

$radius: 0.7rem;

.cat_card {
  display: flex;
  flex-direction: column;
  gap: 5%;
  overflow: hidden;

  border-radius: $radius;

  width: 17rem;
  height: fit-content;

  box-shadow:
    0 0 0 0.5em white,
    0 0 0.3em 0.5em rgba($color-blue-dasl, 0.3);

  background-color: white;

  color: $color-blue-dasl;

  img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
    max-height: 9em;
    object-position: center;
  }

  h2 {
    margin-top: 0.1em;
    padding: 0.1em 0.5em;
    line-height: 100%;

    font-weight: bold;

    background-color: $color-green-nyanza;

    &:hover {
      text-decoration: underline;
    }
  }

  button.go_to_subcats {
    text-align: start;
    .subcat_list {
      margin-top: 0.5rem;
      color: $color-green-palebud;
      list-style-type: disc;

      li {
        a {
          margin-left: 0.5rem;
          border-radius: 5px;
        }

        &:hover {
          color: $color-blue-dasl;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  transition:
    transform 0.3s,
    box-shadow 0.1s;
  &:hover {
    z-index: 99;
    box-shadow:
      0 0 0 0.5em white,
      0 0 0.3em 0.5em rgba($color-blue-dasl, 0.9);
  }
}

