@use './styles/variables' as *;
@use './styles/mixins' as *;
@import 'node_modules/rfs/sass.sass';

.header_container {
  position: sticky;
  top: 0;
  z-index: 101;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;

  gap: 2%;

  width: 100%;
  height: 5rem;

  font-size: 2rem;
  background-color: $color-green-medbud;

  .offcanvas_toggler {
    flex: 0 3 7%;
  }

  .logo {
    flex: 0 5 fit-content;
  }

  .search_bar {
    flex: 1 5 35%;
  }

  .icon_btn_group {
    flex: 3 0 5%;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      padding: 0;
      margin: 0;
    }

    color: $color-blue-dasl;

    img {
      border-radius: 2rem;
      height: 2rem;
      width: 2rem;

      object-fit: cover;
    }
  }

  @media only screen and (width < 1200px) {
    .search_bar {
      flex-grow: 5;
    }
    .offcanvas_toggler {
      flex-grow: 0.1;
    }
  }
}
.underline {
  height: 0.3rem;
  width: 100%;
  background-color: $color-green-nyanza;
  position: relative;
  z-index: 4;
}

.loader_line {
  height: 0.3rem;
  width: 65%;

  position: absolute;
  left: 0;

  z-index: 4;

  background: linear-gradient(
    to right,
    $color-green-nyanza,
    rgba($color-green-dur, 0.7),
    $color-green-nyanza
  );

  animation: loading-line 2.5s infinite;
}

@keyframes loading-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
