@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "node_modules/rfs/sass.sass";

.header_container {
  position: sticky;
  top: 0;
  z-index: 101;
  background: red !important;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;

  gap: 2%;

  width: 100%;
  height: 5rem;

  font-size: 2rem;
  background-color: $color-green-medbud;

  .offcanvas_toggler {
    flex: 0 3 7%;
  }

  .logo {
    flex: 0 5 fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    border-radius: 5px;

    color: $color-blue-dasl;
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      color: $color-blue-dasl;
      // todo
    }
  }

  /* .logo { */
  /*   @media only screen and (width < 1200px) { */
  /*     span { */
  /*       display: none; */
  /*     } */
  /*   } */
  /**/
  /*   @media only screen and (width < 300px) { */
  /*     img { */
  /*       display: none; */
  /*     } */
  /*   } */
  /* } */

  .search_bar {
    flex: 1 5 35%;
  }

  .icon_btn_group {
    flex: 3 0 5%;

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      padding: 0;
      margin: 0;
    }

    color: $color-blue-dasl;

    img {
      border-radius: 2rem;
      height: 2rem;
      width: 2rem;

      object-fit: cover;
    }
  }

  @media only screen and (width < 1200px) {
    .search_bar {
      flex-grow: 5;
    }
    .offcanvas_toggler {
      flex-grow: 0.1;
    }
  }
}
.underline {
  height: 0.3rem;
  width: 100%;
  background-color: $color-green-nyanza;
  position: relative;
  z-index: 4;
}

.loader_line {
  height: 0.3rem;
  width: 65%;

  position: absolute;
  left: 0;

  z-index: 4;

  background: linear-gradient(
    to right,
    $color-green-nyanza,
    rgba($color-green-dur, 0.7),
    $color-green-nyanza
  );

  animation: loading-line 2.5s infinite;
}

@keyframes loading-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


.search_bar {
  display: flex;
  justify-content: center;
  height: 3rem;

  .search_field {
    flex: 0 1 90%;

    width: 100%;

    padding: 1rem;
    border: 0;
    border-radius: 1rem 0 0 1rem;

    font-size: 1.5rem;

    &::placeholder {
      color: rgba($color-blue-indep, 100%);
    }

    transition: box-shadow 0.25s;

    color: $color-blue-indep;
    &:focus {
      outline: none;
      box-shadow: 0 0 0.2rem 0.1rem rgba($color-blue-dasl, 0.4) inset;
      color: black;
    }

    &[disabled] {
      box-shadow: 0 0 0.2rem 0.1rem rgba($color-blue-dasl, 0.4) inset;
      background-color: white;
      font-weight: normal;
    }
  }

  .search_button {
    gap: 0.3rem;

    flex: 0 0 10%;

    border-radius: 0 1rem 1rem 0;
    border: 0;

    font-size: 1.5rem;
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    @media only screen and (width < 992px) {
      p {
        display: none;
      }
    }
  }
}
