@use './styles/variables' as *;
@use './styles/mixins' as *;

.landing_product_figure {
  .figure {
    // display: flex;

    // width: 100%;
    // height: 100%;
    .image {
      // padding: 1rem;
    }
  }

  .thumbnails {
    display: flex;
    gap: 5px;

    padding: 5px 0;
    margin: 0 10%;

    overflow-x: auto;
    overflow-y: hidden;

    .thumbnail {
      //todo make thumbnails smaller in width
      border-radius: 3px;
      box-shadow: 0 0 1px 1px rgba($color-wh-lightsilv, 0.5);

      &:first-child {
        margin-left: 5px;
      }

      &.selected {
        box-shadow: 0 0 1px 1px $color-green-medbud;
      }
    }

    @media screen and (width < 992px) {
      margin: 0 5px;
    }
  }
}
