@use 'styles/variables' as *;

.user_info_form {
  padding: 15px;

  .input_group {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    div {
      width: 45%;
    }

    color: $color-blue-dasl;

    @media screen and (width < 768px) {
      flex-flow: column wrap;
      div {
        width: 100%;
      }
    }
  }

  .button_group {
    display: flex;
    gap: 20px;

    padding-top: 20px;

    li {
      width: 45%;
    }

    @media screen and (width < 768px) {
      li {
        width: 100%;
      }
    }
  }
}
