@use './styles/variables' as *;
@use './styles/mixins' as *;

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3rem 1fr;
  row-gap: 1rem;

  margin-top: 4rem;

  grid-template-areas:
    'selected selected selected sort'
    'filter gallery gallery gallery'
    'filter gallery gallery gallery';

  .filters_offcanvas_toggler {
    display: none;
    margin-left: 1rem;
  }

  .sort_group {
    margin-right: 1rem;
    grid-area: sort;
  }

  .selected {
    grid-area: selected;
  }

  .filters {
    grid-area: filter;

    padding: 1rem;
    padding-left: 2.5rem;

    height: min-content;

    box-shadow: 0 0 0 0.05rem $color-wh-lightsilv;
  }

  .gallery {
    grid-area: gallery;

    margin: 0 1rem;
    margin-left: 0;
  }

  .no_products {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (width < 1100px) {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas:
      'filters_offcanvas_toggler . sort'
      'gallery gallery gallery'
      'gallery gallery gallery';

    .gallery {
      margin-left: 1rem;
    }

    .filters,
    .selected {
      display: none;
    }

    .filters_offcanvas_toggler {
      display: block;
      grid-area: filters_offcanvas_toggler;
    }
  }

  @media screen and (width < 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (width < 576px) {
    grid-template-columns: 1fr 0fr 1fr;
    column-gap: 2%;
    .gallery {
      margin: 0;
    }
  }
}
