@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.listing_header {
  padding: 1rem 3rem 3rem 3rem;

  .label {
    font-size: 2rem;
  }

  .label {
    margin-top: 1rem;
  }
  @media screen and (width < 992px) {
    padding: 1rem 1rem 0 3rem;
  }

  @media screen and (width < 768px) {
    padding: 1rem 2rem 0 1rem;
  }

  @media screen and (width < 662px) {
    padding: 1rem 2rem 0 1rem;

    .label {
      font-size: 1.2rem;
    }
  }
}
