@use './styles/variables' as *;

.loading_overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .spinner {
    color: rgba($color-green-dur, 0.7);
    z-index: 100;

    animation-duration: 2.5s !important;
  }
}
