@use './styles/variables' as *;

.carousel {
  button i {
    padding: 1rem;
    border-radius: 50%;

    color: $color-blue-dasl;
    background-color: rgba($color-blue-dasl, 0.1);
  }

  .next_btn {
    opacity: 0.5;
    transition: opacity 0.15s;

    &:hover {
      opacity: 1;
    }
  }
}
