@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.card {
  color: $color-blue-dasl;
  box-shadow: none;

  .header {
    width: 100%;

    border-bottom: 2px solid rgba($color-blue-dasl, 0.1);

    $font-size: 1.5rem;
    font-size: $font-size;
    svg {
      margin-right: 0.5rem;
      width: $font-size;
      height: $font-size;
    }
  }

  .body {
    padding: 15px;
    padding-top: 25px;
  }
}
