@use './styles/variables' as *;
@use './styles/mixins' as *;

.offcanvas {
  .header {
    background-color: $color-green-medbud;

    h6 {
      color: $color-blue-dasl;
      font-weight: bold;
    }
    svg {
      fill: $color-blue-dasl;
    }
  }

  .offcanvas_filter_body {
    padding: 1rem;

    .cancel_all_btn {
      margin-bottom: 1rem;
    }
  }

  footer {
    padding: 0 1rem;

    border-top: 0.09rem solid $color-wh-lightsilv;

    text-align: center;

    p {
      color: rgba($color-blue-dasl, 0.8);
      margin: 1rem 0;
    }

    button {
      margin: 1rem 0;
      margin-bottom: 1.5rem;
    }
  }
}
