@use './styles/variables' as *;
// @use "./styles/mixins" as *;

.selected {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  margin-left: 3.5rem;

  height: 100%;

  line-height: 1;
  color: rgba($color-blue-dasl, 0.9);

  .cancel_all_btn {
    width: fit-content;
    font-size: 1rem;
  }
}
