@use './styles/variables' as *;

.accordion {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;

  .summary {
    border-bottom: 1px solid rgba($color-blue-dasl, 0.1);

    color: $color-blue-dasl;
    font-size: 1.2rem;

    transition: border 0.25s;
    &:focus {
      border-bottom: 1px solid $color-blue-dasl;
    }
  }
}
